* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  max-width: 1215px;
  margin: 0 auto;
  width: 100%;
}

.wraper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  height: 50px;
  line-height: 50px;
  background-color: #000;
  display: inline-block;
  padding: 0px 33px;
  font-family: Bebas;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.5px;
}

.btn--w {
  font-size: 10px;
  background-color: #ffffff;
  color: #000;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

.header-menu__icon {
  display: none;
}

/*
body{
    background-color: #000;
}
*/

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  margin: 0px -40px;
}

.header__icon {
  padding: 0px  40px 0px 0px;
}

.header__list {
  padding: 0px 40px;
}

.header__button {
  letter-spacing: 0;
  margin: -3px 10px 0 0;
  padding: 16px 32px 14px;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}

.list__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -25px;
}

.list__items {
  padding: 0px 25px;
}

.list__items:first-child {
  padding: 0px 12px 0px 0px;
}

.list__items:last-child {
  padding: 0px 0px 0px 12px;
}

.list__link {
  text-align: center;
  font-size: 14px;
}

.button__header {
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  text-transform: uppercase;
  color: #fff;
  padding: 16px 32px 14px;
  -webkit-box-shadow: 0px 0px 20px rgba(187, 21, 35, 0.2);
  box-shadow: 0px 0px 20px rgba(187, 21, 35, 0.2);
  border-radius: 36px;
  background: #bb1523;
  border: 1px solid #bb1523;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0;
  overflow: hidden;
}

.hero {
  padding: 0;
}

section {
  position: relative;
  z-index: 1;
}

.hero__wrap {
  position: relative;
  max-width: 1630px;
  margin: 0 auto;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__column-father {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.column {
  padding: 0px 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.column__header {
  font-weight: 700;
  font-size: 52px;
  line-height: 110%;
  color: #fff;
}

.column__span {
  font-size: 38px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.column__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
  max-width: 550px;
  margin-bottom: 24px;
}

.column__img-1 {
  margin: 0px 25px 0px 0px;
  position: absolute;
  top: 80px;
  bottom: auto;
  left: auto;
  right: -5px;
  border-radius: 15px;
}

.column__img-1 img {
  display: block;
  font-size: 12px;
  line-height: 14px;
  max-width: 100%;
  border-radius: 100px;
}

.column__img-2 {
  margin: 0px 25px 0px 0px;
  position: absolute;
  top: 88px;
  bottom: auto;
  left: auto;
  right: 15px;
}

.column__img-2 img {
  max-width: 100%;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.hero__wrap::before {
  content: '';
  position: absolute;
  width: 100%;
  width: calc(100% - 30px);
  height: 100%;
  left: 15px;
  top: 0;
  min-height: 560px;
  background: #2ab1a3;
  -webkit-box-shadow: 0px 0px 60px rgba(42, 177, 163, 0.3);
          box-shadow: 0px 0px 60px rgba(42, 177, 163, 0.3);
  border-radius: inherit;
  z-index: -1;
}

@media (max-width: 1230px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0px;
    margin: 0px -15px;
  }

  .header__icon {
    padding: 0px  15px 0px 0px;
  }

  .header__list {
    padding: 0px 15px;
  }

  .header__button {
    letter-spacing: 0;
    margin: -3px 10px 0 0;
    padding: 8px 28px 7px;
    font-weight: 700;
    font-size: 13px;
    line-height: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  .icon__link img {
    max-width: 100%;
  }

  .list__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px -15px;
  }

  .list__items {
    padding: 0px 15px;
  }

  .list__items:first-child {
    padding: 0px 8px 0px 0px;
  }

  .list__items:last-child {
    padding: 0px 0px 0px 8px;
  }

  .list__link {
    text-align: center;
    font-size: 10px;
  }

  .button__header {
    font-weight: 700;
    font-size: 10px;
    line-height: 8px;
    text-transform: uppercase;
    color: #fff;
    padding: 9px 27px 9px;
    -webkit-box-shadow: 0px 0px 20px rgba(187, 21, 35, 0.2);
    box-shadow: 0px 0px 20px rgba(187, 21, 35, 0.2);
    border-radius: 36px;
    background: #bb1523;
    border: 1px solid #bb1523;
  }
}

@media (max-width: 1227px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 995px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0px;
    margin: 0px -10px;
  }

  .header__icon {
    padding: 0px  10px 0px 0px;
  }

  .header__list {
    padding: 0px 10px;
  }

  .header__button {
    letter-spacing: 0;
    margin: -3px 10px 0 0;
    padding: 8px 12px 7px;
    font-weight: 700;
    font-size: 8px;
    line-height: 8px;
    text-align: center;
    text-transform: uppercase;
  }

  .list__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px -5px;
  }

  .list__items {
    padding: 0px 5px;
  }

  .list__items:first-child {
    padding: 0px 6px 0px 0px;
  }

  .list__items:last-child {
    padding: 0px 0px 0px 6px;
  }

  .list__link {
    text-align: center;
    font-size: 10px;
  }

  .button__header {
    font-weight: 700;
    font-size: 10px;
    line-height: 8px;
    text-transform: uppercase;
    color: #fff;
    padding: 9px 15px 9px;
    -webkit-box-shadow: 0px 0px 20px rgba(187, 21, 35, 0.2);
    box-shadow: 0px 0px 20px rgba(187, 21, 35, 0.2);
    border-radius: 36px;
    background: #bb1523;
    border: 1px solid #bb1523;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .header-menu__icon {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .header-menu__icon span {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .header-menu__icon span:first-child {
    top: 0px;
  }

  .header-menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }

  .header-menu__icon.active span {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .header-menu__icon.active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  .header-menu__icon.active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }

  .header-menu {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
    left: -120%;
    top: 0;
    background-color: #fff;
    padding: 50px 10px 20px 10px;
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
  }

  .header-menu.active {
    left: 0;
  }

  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0px;
    margin: 0px -10px;
  }

  .header__icon {
    padding: 0px  10px 10px 0px;
  }

  .header__list {
    padding: 0px 10px;
  }

  .header__button {
    letter-spacing: 0;
    margin: 5px 10px 0px 0px;
    padding: 5px 6px 4px;
    font-weight: 700;
    font-size: 8px;
    line-height: 5px;
    text-align: center;
    text-transform: uppercase;
  }

  .list__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px -5px;
  }

  .list__items {
    padding: 0px 0px 25px 0px;
  }

  .list__items:first-child {
    padding: 0px 0px 25px 0px;
  }

  .list__items:last-child {
    padding: 0px;
  }

  .list__link {
    text-align: center;
    font-size: 15px;
  }

  .button__header {
    font-weight: 800;
    font-size: 8px;
    line-height: 8px;
    text-transform: uppercase;
    color: #fff;
    padding: 6px 12px 6px;
    -webkit-box-shadow: 0px 0px 20px rgba(187, 21, 35, 0.2);
    box-shadow: 0px 0px 20px rgba(187, 21, 35, 0.2);
    border-radius: 36px;
    background: #bb1523;
    border: 1px solid #bb1523;
  }
}